.login-page{
  background-image: url("../../wave.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.login-logo a{
  color: #fff;
}
